.helmet {
    display: flex;
    align-items: baseline;
    margin-right: 20px;
}

.helmet__title {
    font-size: 2.3rem;
    color: #ff4343;
    padding-left: 7px;
}

.helmet__logo {
    width: 3rem;
}