.navLink {
    display: flex;
    gap: 20px;
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none;
    color: #000000;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 5px;
}

.nav__menu {
    display: flex;
    align-items: baseline
}


